<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>

    <!-- Favicon -->
    <link href="../assets/images/favicon.png" rel="icon" type="image/png" />

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/icons.css" />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/uikit.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- sidebar -->
    <div class="sidebar">
      <div class="sidebar_inner" data-simplebar>
          
          <ul class="side-colored">
              <li><a href="/dashboard">
                      <ion-icon name="compass" class="bg-gradient-to-br from-purple-300 p-1 rounded-md side-icon text-opacity-80 text-white to-blue-500">
                      </ion-icon>
                      <span> Dashboard </span>
                  </a>
              </li>
              <li><a href="/courses">
                      <ion-icon name="play-circle" class="bg-gradient-to-br from-yellow-300 p-1 rounded-md side-icon text-opacity-80 text-white to-red-500">
                      </ion-icon>
                      <span> Courses</span>
                  </a>
              </li>
              <li><a href="/books">
                      <ion-icon name="book" class="bg-gradient-to-br from-yellow-300 p-1 rounded-md side-icon text-opacity-80 text-white to-red-500">
                      </ion-icon>
                      <span> Books </span>
                  </a>
              </li>
              <li><a href="blogs.html">
                      <ion-icon name="newspaper" class="bg-gradient-to-br from-purple-300 p-1 rounded-md side-icon text-opacity-80 text-white to-blue-500">
                      </ion-icon>
                      <span> Articles</span>
                  </a>
              </li>
          </ul>

          <ul class="side_links" data-sub-title="">
              <li><a href="/privacy"> <ion-icon name="document-text-outline" class="side-icon"></ion-icon> Privacy </a></li> 
              <li><a href="/setting"> <ion-icon name="settings-outline" class="side-icon"></ion-icon> Setting </a></li> 
          </ul>
      </div>

      <div class="side_overly" uk-toggle="target: #wrapper ; cls: is-collapse is-active"></div>
  </div>

    <!--  Header  -->
    <header uk-sticky> 
      <div class="header_inner">
          <div class="left-side">

              <!-- Logo -->
              <div id="logo">
                  <a href="explore.html">
                      <!-- <img src="../assets/images/logo.png" alt=""> -->
                      <!-- <img src="../assets/images/logo-light.png" class="logo_inverse" alt=""> -->
                      <!-- <img src="../assets/images/logo-mobile.png" class="logo_mobile" alt=""> -->
                      <a href="/dashboard"><span class="text-logo">Sinau.</span></a>
                  </a>
              </div>

              <!-- icon menu for mobile -->
              <div class="triger" uk-toggle="target: #wrapper ; cls: is-active">
              </div>

          </div>
          <div class="right-side">

              <!-- Header search box  -->
              <div class="header_search"><i class="uil-search-alt"></i> 
                  <input value="" type="text" class="form-control" placeholder=" Quick search for anything.." autocomplete="off">
                  <div uk-drop="mode: click;offset:10" class="header_search_dropdown">
                         
                      <h4 class="search_title"> Recently </h4>
                      <ul>
                          <li> 
                              <a href="#">  
                                  <img src="../assets/images/avatars/avatar-1.jpg" alt="" class="list-avatar">
                                  <div class="list-name">  Matematika Diskrit </div>
                              </a> 
                          </li> 
                          <li> 
                              <a href="#">  
                                  <img src="../assets/images/avatars/avatar-2.jpg" alt="" class="list-avatar">
                                  <div class="list-name">  Aljabar Linear </div>
                              </a> 
                          </li>
                          <li> 
                              <a href="#">  
                                  <img src="../assets/images/avatars/avatar-3.jpg" alt="" class="list-avatar">
                                  <div class="list-name"> Pembelajaran Pendagogik </div>
                              </a> 
                          </li>
                          <li> 
                              <a href="#">  
                                  <img src="../assets/images/avatars/avatar-4.jpg" alt="" class="list-avatar">
                                  <div class="list-name"> Matematika HOTS  </div>
                              </a> 
                          </li>
                      </ul>

                  </div>
              </div>

              <div>

                  <!-- cart -->
                  <a href="#" class="header_widgets">
                      <ion-icon name="cart-outline" class="is-icon"></ion-icon>
                  </a>
                  <div uk-drop="mode: click" class="dropdown_cart">
                      <div class="cart-headline"> My Cart 
                      <a href="#" class="checkout">Checkout</a>
                  </div>
                      <ul class="dropdown_cart_scrollbar" data-simplebar>
                          <li>
                              <div class="cart_avatar">
                                  <img src="../assets/images/courses/img-1.jpg" alt="">
                              </div>
                              <div class="cart_text">
                                  <h4> Learn Angular Beginner to Advanced Fundamentals </h4>
                              </div>
                              <div class="cart_price">
                                  <span> $12.99 </span>
                                  <button class="type"> Remove</button>
                              </div>
                          </li>
                          <li>
                              <div class="cart_avatar">
                                  <img src="../assets/images/courses/img-1.jpg" alt="">
                              </div>
                              <div class="cart_text">
                                  <h4>  Become a Web Developer from Scratch to Advanced </h4>
                              </div>
                              <div class="cart_price">
                                  <span> $19.99 </span>
                                  <button class="type"> Remove</button>
                              </div>
                          </li>
                          <li>
                              <div class="cart_avatar">
                                  <img src="../assets/images/courses/img-2.jpg" alt="">
                              </div>
                              <div class="cart_text">
                                  <h4> Angular Fundamentals for Beginner to advance </h4>
                              </div>
                              <div class="cart_price">
                                  <span> $12.99 </span>
                                  <button class="type"> Remove</button>
                              </div>
                          </li>
                          <li>
                              <div class="cart_avatar">
                                  <img src="../assets/images/courses/img-3.jpg" alt="">
                              </div>
                              <div class="cart_text">
                                  <h4> Ultimate Web Developer Course for Beginners 2020</h4>
                              </div>
                              <div class="cart_price">
                                  <span> $14.99 </span>
                                  <button class="type"> Remove</button>
                              </div>
                          </li>
                          <li>
                              <div class="cart_avatar">
                                  <img src="../assets/images/courses/img-4.jpg" alt="">
                              </div>
                              <div class="cart_text">
                                  <h4> The Complete JavaScript From beginning to advance </h4>
                              </div>
                              <div class="cart_price">
                                  <span> $16.99 </span>
                                  <button class="type"> Remove</button>
                              </div>
                          </li>
                          <li>
                              <div class="cart_avatar">
                                  <img src="../assets/images/courses/img-5.jpg" alt="">
                              </div>
                              <div class="cart_text">
                                  <h4> Become a Web Developer from Scratch to Advanced</h4>
                              </div>
                              <div class="cart_price">
                                  <span> $12.99 </span>
                                  <button class="type"> Remove</button>
                              </div>
                          </li>
                      </ul>
  
                      <div class="cart_footer">
                          <p> Subtotal : $ 320 </p>
                          <h1> Total :  <strong> $ 320</strong> </h1>
                      </div>
                  </div>
  
                  <!-- notification -->
                  <a href="#" class="header_widgets">
                      <ion-icon name="mail-outline" class="is-icon"></ion-icon>
                  </a>
                  <div uk-drop="mode: click" class="header_dropdown"> 
                      <div class="drop_headline">
                          <h4>Notifications </h4>
                          <div class="btn_action">
                              <div class="btn_action">
                                  <a href="#">
                                      <ion-icon name="settings-outline" uk-tooltip="title: Notifications settings ; pos: left"></ion-icon>
                                  </a>
                                  <a href="#">
                                      <ion-icon name="checkbox-outline" uk-tooltip="title: Mark as read all ; pos: left"></ion-icon>
                                  </a>
                              </div>
                          </div>
                      </div>
  
                      <ul class="dropdown_scrollbar" data-simplebar>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-1.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <p> <strong>Adrian Mohani</strong> Like Your Comment On Course
                                          <span class="text-link">Javascript Introduction </span>
                                      </p>
                                      <span class="time-ago"> 2 hours ago </span>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-2.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <p>
                                          <strong>Stella Johnson</strong> Replay Your Comments in
                                          <span class="text-link">Programming for Games</span>
                                      </p>
                                      <span class="time-ago"> 9 hours ago </span>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-3.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <p>
                                          <strong>Alex Dolgove</strong> Added New Review In Course
                                          <span class="text-link">Full Stack PHP Developer</span>
                                      </p>
                                      <span class="time-ago"> 12 hours ago </span>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-1.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <p>
                                          <strong>Jonathan Madano</strong> Shared Your Discussion On Course
                                          <span class="text-link">Css Flex Box </span>
                                      </p>
                                      <span class="time-ago"> Yesterday </span>
                                  </div>
                              </a>
                          </li>
                      </ul>
                      <a href="#" class="see-all">See all</a>
                  </div>
  
                  <!-- messages -->
                  <a href="#" class="header_widgets">
                      <ion-icon name="notifications-outline" class="is-icon"></ion-icon>
                      <span> 2 </span>
                  </a>
                  <div uk-drop="mode: click" class="header_dropdown">
                      <div class="drop_headline">
                          <h4>Messages </h4>
                          <div class="btn_action">
                              <a href="#">
                                  <ion-icon name="settings-outline" uk-tooltip="title: Message settings ; pos: left"></ion-icon>
                              </a>
                              <a href="#">
                                  <ion-icon name="checkbox-outline" uk-tooltip="title: Mark as read all ; pos: left"></ion-icon>
                              </a>
                          </div>
                      </div>
                      <ul class="dropdown_scrollbar" data-simplebar>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-1.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <strong> John menathon </strong> <span class="time"> 6:43 PM</span>
                                      <p> Lorem ipsum dolor sit amet, consectetur </p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-2.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <strong> Zara Ali </strong> <span class="time">12:43 PM</span>
                                      <p> Lorem ipsum dolor sit amet, consectetur </p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-3.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <strong> Mohamed Ali </strong> <span class="time"> Wed</span>
                                      <p> Lorem ipsum dolor sit amet, consectetur </p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-1.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <strong> John menathon </strong> <span class="time"> Sun </span>
                                      <p> Lorem ipsum dolor sit amet, consectetur </p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-2.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <strong> Zara Ali </strong> <span class="time"> Fri </span>
                                      <p> Lorem ipsum dolor sit amet, consectetur </p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="drop_avatar"> <img src="../assets/images/avatars/avatar-3.jpg" alt="">
                                  </div>
                                  <div class="drop_content">
                                      <strong> Mohamed Ali </strong> <span class="time">1 Week ago</span>
                                      <p> Lorem ipsum dolor sit amet, consectetur </p>
                                  </div>
                              </a>
                          </li>
                      </ul>
                      <a href="#" class="see-all">See all</a>
                  </div>
  
                   <!-- profile -->
                  <a href="#">
                      <img src="../assets/images/profile.jpeg" class="header_widgets_avatar" alt="">
                  </a>
                  <div uk-drop="mode: click;offset:5" class="header_dropdown profile_dropdown">
                      <ul>   
                          <li>
                              <a href="#" class="user">
                                  <div class="user_avatar">
                                      <img src="../assets/images/profile.jpeg" alt="">
                                  </div>
                                  <div class="user_name">
                                      <div> Singgih Pratama</div>
                                      <span> @mastama </span>
                                  </div>
                              </a>
                          </li>
                          <li> 
                              <hr>
                          </li>
                          <li> 
                              <a href="#" class="is-link">
                                  <ion-icon name="rocket-outline" class="is-icon"></ion-icon> <span>  Upgrade Membership  </span>
                              </a>
                          </li> 
                          <li> 
                              <hr>
                          </li>
                          <li> 
                              <a href="#">
                                  <ion-icon name="person-circle-outline" class="is-icon"></ion-icon>
                                   My Account 
                              </a>
                          </li>
                          <li> 
                              <a href="#">
                                  <ion-icon name="card-outline" class="is-icon"></ion-icon>
                                  Subscriptions
                              </a>
                          </li>
                          <li> 
                              <a href="#">
                                  <ion-icon name="color-wand-outline" class="is-icon"></ion-icon>
                                  My Billing 
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <ion-icon name="settings-outline" class="is-icon"></ion-icon>
                                  Account Settings  
                              </a>
                          </li>
                          <li> 
                              <hr>
                          </li>
                          <li> 
                              <a href="#" id="night-mode" class="btn-night-mode" onclick="UIkit.notification({ message: 'Hmm...  <strong> Night mode </strong> feature is not available yet. ' , pos: 'bottom-right'  })">
                                  <ion-icon name="moon-outline" class="is-icon"></ion-icon>
                                   Night mode
                                  <span class="btn-night-mode-switch">
                                      <span class="uk-switch-button"></span>
                                  </span>
                              </a>
                          </li>
                          <li> 
                              <a href="/">
                                  <ion-icon name="log-out-outline" class="is-icon"></ion-icon>
                                  Logout 
                              </a>
                          </li>
                      </ul>
                  </div> 

              </div>

          </div>
      </div>
  </header>
  </body>
</html>
