<div id="wrapper" class="is-verticle">

 
    <!-- Main Contents -->
    <div class="main_content">
        <div class="container">

            <div class="lg:flex lg:space-x-10">
                
                <div class="lg:w-2/3 flex-shrink-0"> 
                    
                    <div class="text-2xl font-semibold">Books</div>
                    
                    <nav class="cd-secondary-nav border-b md:m-0 -mx-3 nav-small">
                        <ul>
                            <li class="active"><a href="#" class="lg:px-2">Suggestions</a></li>
                            <li><a href="#" class="lg:px-2"></a></li>
                            <li><a href="#" class="lg:px-2"></a></li>
                            <li><a href="#" class="lg:px-2"></a></li>
                            <li><a href="#" class="lg:px-2"></a></li>
                        </ul>
                    </nav>

                    <div class="relative mt-2" uk-slider="finite: true">
                        <div class="uk-slider-container px-1 py-3">
                            <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid text-sm font-medium text-center">
                     
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_1.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate">  Math X GeoEnzo  </div>
                                        </a>
                                    </div>
                               </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_2.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate">  Belajar Geometri dengan GeoEnzo  </div>
                                        </a>
                                    </div>
                               </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_3.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate">  Dua Dimensi  </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_4.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate"> Bangun ruang </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="../../assets/images/book/mathbookcover.png" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate">  Math for Kid  </div>
                                        </a>
                                    </div>
                               </li>
                            </ul>
                    
                            <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                                href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                            <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                                href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>
                    
                        </div>
                    </div>

                    <br>   

                    <div class="mt-2 flex items-center justify-between pb-3">
                        <div>
                            <h2 class="text-xl font-semibold"> Your Friends also Reading</h2> 
                        </div>
                        <a href="#" class="text-blue-500"> See all </a>
                    </div>

                    <div class="relative" uk-slider="finite: true">
                        <div class="uk-slider-container px-1 py-3">
                            <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid text-sm font-medium text-center">
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_1.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate">Math X GeoEnzo </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_2.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate"> Belajar Geometri dengan GeoEnzo  </div>
                                        </a>
                                    </div>
                               </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_3.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate"> Dua Dimensi  </div>
                                        </a>
                                    </div>
                               </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/bookcover_4.jpeg" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate">  Bangun ruang  </div>
                                        </a>
                                    </div>
                               </li>
                                <li>
                                    <div class="relative overflow-hidden bg-white shadow md:rounded-lg rounded-md">
                                        <a href="#">
                                           <img src="assets/images/book/mathbookcover.png" alt="" class="w-full h-44 object-cover">
                                           <div class="p-3 truncate"> Math for Kid </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                    
                            <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                                href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                            <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                                href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>
                    
                        </div>
                    </div>
                 
                </div>
                <div class="lg:w-1/3 w-full">

                    <div class="my-2 flex items-center justify-between pb-2">
                        <div>
                            <h2 class="text-xl font-semibold">Top Books</h2> 
                        </div>
                        <a href="#" class="text-blue-500"> See all </a>
                    </div>

                    <div class="space-y-7 mt-6">
                        <div class="p-3 bg-white shadow rounded-md flex items-center space-x-3">
                            <img src="assets/images/book/top1.png" class="w-20 h-24 rounded-lg -mt-7 shadow-md" alt="">
                            <div class="flex-1"> 
                                <div class="font-semibold">Belajar dan Pembelajaran Matematika</div> 
                                <div class="text-sm"> Dr. Wati Susilawati, M.Pd </div> 
                            </div>
                            <a href="assets/images/book/Belajar dan Pembelajaran Matematika.pdf"> 
                                <ion-icon name="download-outline" class="text-2xl text-gray-600"></ion-icon>
                            </a>
                        </div>
                    
                        <div class="p-3 bg-white shadow rounded-md flex items-center space-x-3">
                            <img src="assets/images/book/top2.png" class="w-20 h-24 rounded-lg -mt-7 shadow-md" alt="">
                            <div class="flex-1"> 
                                <div class="font-semibold">Penerapan GeoEnzo</div> 
                                <div class="text-sm"> Nova Wilda Asbi </div> 
                            </div>
                            <a href="assets/images/book/penerapan geoenzo.pdf"> 
                                <ion-icon name="download-outline" class="text-2xl text-gray-600"></ion-icon>
                            </a>
                        </div>
                     
                        <div class="p-3 bg-white shadow rounded-md flex items-center space-x-3">
                            <img src="assets/images/book/top3.png" class="w-20 h-24 rounded-lg -mt-7 shadow-md" alt="">
                            <div class="flex-1"> 
                                <div class="font-semibold"> Peningkatan Keterampilan Guru </div> 
                                <div class="text-sm"> Syamsudin </div> 
                            </div>
                            <a href="assets/images/book/PENINGKATAN KETERAMPILAN GURU MATEMATIKA.pdf"> 
                                <ion-icon name="download-outline" class="text-2xl text-gray-600"></ion-icon>
                            </a>
                        </div>
                    </div>

                    <div class="mt-6">
                        <h4 class="text-lg mb-2 font-semibold"> Tags </h4>
                        <div class="flex flex-wrap font-medium gap-2">
                            <a href="#" class="bg-white px-3.5 py-1.5 rounded shadow text-sm"> GeoEnzo</a>
                            <a href="#" class="bg-white px-3.5 py-1.5 rounded shadow text-sm"> Geometri</a>
                            <a href="#" class="bg-white px-3.5 py-1.5 rounded shadow text-sm"> Matematika</a>
                            <a href="#" class="bg-white px-3.5 py-1.5 rounded shadow text-sm"> Belajar Matematika</a>
                            <a href="#" class="bg-white px-3.5 py-1.5 rounded shadow text-sm"> Jurnal Matematika</a>
                            <a href="#" class="bg-white px-3.5 py-1.5 rounded shadow text-sm"> Math for kid</a> 
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

        <!-- footer -->
        <div class="lg:mt-28 mt-10 mb-7 px-12 border-t pt-7">
            <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                <p class="capitalize font-medium">©copyright 2022 <b>Sinau</b> by Singgih Pratama</p>
                <div class="lg:flex space-x-4 text-gray-700 capitalize hidden">
                    <a href="#"> About</a>
                    <a href="#"> Help</a>
                    <a href="#"> Terms</a>
                    <a href="#"> Privacy</a>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- Javascript
================================================== -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../assets/js/uikit.js"></script>
<script src="../assets/js/tippy.all.min.js"></script>
<script src="../assets/js/simplebar.js"></script>
<script src="../assets/js/custom.js"></script>
<script src="../assets/js/bootstrap-select.min.js"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
