<div id="wrapper" class="is-verticle">

    <!-- Main Contents -->
    <div class="main_content">
        <div class="container">

            <div class="max-w-3xl lg:p-8 pb-0 mx-auto">

                <!-- article content -->
                <div class="md:space-y-4 space-y-3 leading-8 md:text-base">
                     
                    <div class="text-gray-500"> Updated April, 2022</div>
                    <div class="font-semibold md:text-3xl text-2xl text-gray-700 pt-5"> Privacy Policy </div>
                    <div class="text-gray-500 pt-3"> Version 1.0, Revision 1</div>

                    <div class="font-semibold md:text-2xl text-xl text-gray-700 md:pt-12 pt-10"> Using our services </div>
                    <div class="md:leading-9"> You must follow any policies made available to you within the Services.</div>
                    <div class="md:leading-9"> Don't misuse our Services. For example, don't interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct. </div>
                    <div class="md:leading-9"> Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don't remove, obscure, or alter any legal notices displayed in or along with our Services. </div>
                
                    <br>
                    
                    <div class="font-semibold md:text-2xl text-xl text-gray-700">Your content in our services</div>
                    <div class="md:leading-9"> Some of our Services allow you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</div>
                    <div class="md:leading-9"> When you upload, submit, store, send or receive content to or through our Services, you give Front (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our Services), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. This license continues even if you stop using our Services (for example, for a business listing you have added to Front Maps). Some Services may offer you ways to access and remove content that has been provided to that Service. Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services.</div>
                    
                    <br>
                    
                    <div class="font-semibold md:text-xl text-lg text-gray-700"> Pay Attention </div>
                    <div class="md:leading-9"> Our Services are very diverse, so sometimes additional terms or product requirements (including age requirements) may apply. Additional terms will be available with the relevant Services, and those additional terms become part of your agreement with us if you use.</div>
                
                </div>


            </div>

        </div>

        <!-- footer -->
        <div class="lg:mt-28 mt-10 mb-7 px-12 border-t pt-7">
            <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                <p class="capitalize font-medium"> ©copyright 2022 <b>Sinau</b> by Singgih Pratama</p>
                <div class="lg:flex space-x-4 text-gray-700 capitalize hidden">
                    <a href="#"> About</a>
                    <a href="#"> Help</a>
                    <a href="#"> Terms</a>
                    <a href="#"> Privacy</a>
                </div>
            </div>
        </div>

    </div>
    
</div>

      
<!-- Javascript
================================================== -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../assets/js/uikit.js"></script>
<script src="../assets/js/tippy.all.min.js"></script>
<script src="../assets/js/simplebar.js"></script>
<script src="../assets/js/custom.js"></script>
<script src="../assets/js/bootstrap-select.min.js"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
