<div class="l-form">
	<div class="shape1"></div>
	<div class="shape2"></div>

	<div class="form" >
		<img src="assets/login/students.png" alt="" class="form__img">

		<form action="/dashboard" class="form__content">
			<h1 class="form__title">Welcome Sinau Student</h1>

			<div class="form__div form__div-one">
				<div class="form__icon">
					<i class='bx bx-user-circle'></i>
				</div>

				<div class="form__div-input">
					<label for="" class="form__label">Email</label>
					<input type="email" class="form__input" required>
				</div>
			</div>

			<div class="form__div">
				<div class="form__icon">
					<i class='bx bx-lock' ></i>
				</div>

				<div class="form__div-input">
					<label for="" class="form__label">Password</label>
					<input type="password" class="form__input" required>
				</div>
			</div>
			<a href="#" class="form__forgot">Forgot Password?</a>

			<input type="submit" class="form__button" value="Login">

			<div class="form__social">
				<span class="form__social-text">Haven't an account? <a href="#">Register here!</a></span>

				<!-- <a href="#" class="form__social-icon"><i class='bx bxl-facebook' ></i></a>
				<a href="#" class="form__social-icon"><i class='bx bxl-google' ></i></a>
				<a href="#" class="form__social-icon"><i class='bx bxl-instagram' ></i></a> -->
			</div>
		</form>
	</div>

</div>